body {    
    background: linear-gradient(90deg, #36B4C2 0%, #2997AB 100%);
    height: 100%;
    color: #fff;
    font-family: 'Roboto', sans-serif!important;
}
h1 {
    font-family: 'Roboto', sans-serif!important;
    font-weight: 100;
}
h2 {
    font-family: 'Roboto', sans-serif!important;
    font-weight: 100;
}
h3 {
	color:#292E4A;
}
.container {
    margin-bottom: 5%;
    padding: 1%;
    font-weight: 100;
}
#connect-global {
    background-color: rgba(255, 255, 255, 0.5);
    color: #311A2A;
    padding: 5%;
    margin: 1% auto;
    font-family: 'Roboto', sans-serif!important;
    font-weight: 100;
}
input {
    padding: 5px;
}
.error {
    display: none;
    color: red;
    font-weight: bold;
}
.regiserror {
    display: none;
    color: red;
    font-weight: bold;
}
.logo{
	font-weight: bolder;
}
/* ========== chat ========= */

#chatmessage {
    font-weight: 300;
    color: #9756c4;
}
.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}
.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.chat li.left .chat-body {
    margin-left: 10px;
    letter-spacing: 1px;
}

.chat li .chat-body p {
    margin: 0;
    color: #777777;
    letter-spacing: 1px;
}
.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}
.panel-body {
    overflow-y: scroll;
    height: 400px;
}
.panel-primary {
    border-color: #fff!important;
}
.btn-logout {
    background-color: #FF5C43!important;
}
.btn-send {
    background-color: #169CA8!important;
}
.panel-primary>.panel-heading {
/*    background: linear-gradient(140deg, #36B4C2 0%, #223E55 100%);*/
    background: linear-gradient(140deg, #36B4C2 0%, #2997AB 100%);
    border: none;
    font-weight: bold;
}
.success {
    display: inline;
    padding: 1%;
    font-weight: 700;
    line-height: 1;
    color:  #5cb85c;
    text-align: left;
    white-space: nowrap;
    vertical-align: baseline;
}
.glyphicon-time{
    color:#169CA8!important;
}
strong {
/*   color: #fff;*/
	color:#292E4A;
}
.panel-co {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2%;
    text-align: left;
}
.membreco {
    color: #fff!important;
    font-weight: 700;
    text-align: center;
}
#membreco {
    color: #fff!important;
    font-weight: 700;
}
.name {
    font-weight: 700;
    color: #1d2156;
}
.nameCo {
    font-weight: 700;
    color: #1d2156;
    padding: 1%;

}
.messageco {
    font-weight: 700;
    color: #333333;
}
.avatar{
    margin:5px 5px 5px 0;
}
.avatarLog{
    margin:5px 5px 5px 0;

}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}
::-webkit-scrollbar {
    width: 10px;
    background-color: #169CA8;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #169CA8;
}